.OneTraining {
    width: 80%;
    margin: 0 auto;
    color: #41424c;
}
.OneTraining__back__Btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.OneTraining__details__box {
    min-width: 100%;
    max-width: 100%;
    background-color: #fff;
    min-height: 65vh;
    max-height: 65vh;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    /* border: 1px solid rgba(165, 159, 159, 0.558); */
    /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    padding: 40px 0;
}

.OneTraining__left__img {
    /* background-image: url("../../../assets/scenery.jfif"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    opacity: 0.8;
    width: 35%;
    height: 66vh;
    margin-right: 20px;
}
.OneTraining__left__img img{
border-radius: 10px;
    width: 100%;
    height: 100%;
}
.OneTraining__right {
    width: 65%;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 20px;
}

.OneTraining__right__heading {
    font-size: 40px;
    font-weight: 600;
}

.OneTraining__right__status__box {
    display: flex;
    align-items: center;
}

.OneTraining__right__divider {
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: rgba(165, 159, 159, 0.558);
    margin: 20px 0;
}

.OneTraining__right__status__avail {
    color: lightgreen;
    margin-left: 5px;
}

.OneTraining__right__status__notAvail {
    margin-left: 5px;
    color: lightcoral;
}

.OneTraining__right__author {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.OneTraining__right__author__text {
    word-wrap: break-word;
}

.OneTraining__right__author__dot {
    margin-right: 5px;
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    background-color: #41424c;
    border-radius: 100%;
}

.OneTraining__right__author__title {
    font-weight: 600;
    margin-right: 7px;
}
.OneTraining__right__btn__container{
    display: flex;
    gap: 20px;
}
.OneTraining__right__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41424c;
    border-radius: 10px;
    width: max-content;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background-image: linear-gradient(to right,
            #41424c,
            #4a4b56,
            #4d4e5a,
            #4d4e5a);
    box-shadow: 0 4px 15px 0 #4d4e5a;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    margin-top: 5px;
    border-radius: 50px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.OneTraining__right__btn:hover {
    /* color: #0BA1AE; */
    /* background-color: white; */
    /* border: 1px solid #0BA1AE; */
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.OneTraining__right__btn:focus {
    outline: none;
}

.OneTraining__right__btn.color {
    background-image: linear-gradient(to right,
            #44afba,
            #3b9dc1,
            #257bb5,
            #0656a5);
    box-shadow: 0 4px 15px 0 #0655a5b0;
}

@media only screen and (max-width: 650px) {
    .OneTraining {
        width: 75%;
        margin: 0 auto;
    }
    .OneTraining__back__Btn {
        margin-top: 50px;
        padding: 0 ;
      }
    .OneTraining__details__box {
        min-width: 100%;
        max-width: 100%;
        min-height: max-content;
        max-height: max-content;
        margin:  0;
        flex-direction: column;
        padding: 0;
    }

    .OneTraining__left__img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: none;
    }

    .OneTraining__right {
        margin: 20px 0;
        width: 100%;
        height: max-content;
        padding: 2% 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .OneTraining__right__heading {
        font-size: xx-large;
        font-weight: 600;
    }

    .OneTraining__right__author {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        word-wrap: break-word;
    }

    .OneTraining__right__author__dot {
        margin-right: 5px;
        min-width: 8px;
        max-width: 8px;
        min-height: 8px;
        max-height: 8px;
        background-color: #41424c;
        border-radius: 100%;
    }

    .OneTraining__right__author__title {
        font-weight: 600;
        margin-right: 7px;
    }

    .OneTraining__right__author__text {
        width: 55%;
        word-wrap: break-word;
    }
    .OneTraining__right__btn__container{
        display: flex;
        flex-direction: column;
        gap: none;
    }
    .OneTraining__right__btn {
        width: 100%;

        padding: 10px 0;
    }
   
}